body {
    display: flex;
    flex-direction: column;
}
li {
    list-style: none;
    text-decoration: none;
}
ul {
    padding: 0px;
}
a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
}
.header-link-container{
    display: flex;
    gap: 12px;
}